{% extends 'mysite/base.html' %}

{% block content %}

  
  <div class="card-deck">
    <div class="card" >
      <img height="50%" src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sports Blog</h5>
        <p class="card-text">Write about your favorite Sports and Games</p>
        <p class="card-text"><small class="text-muted"><a href="https://sport-blog.herokuapp.com/">Click here to Know more!</a></small></p>
      </div>
    </div>
    <div class="card">
      <img height="50%" src="https://images.unsplash.com/photo-1543185396-518db4b5faef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Reddit Clone</h5>
        <p class="card-text">Share about your favorite feeds, videos, contents and etc..</p>
        <p class="card-text"><small class="text-muted"><a href="https://clone-reddit.herokuapp.com/">Click here to find out more</a></small></p>
      </div>
    </div>
    <div class="card">
      <img height="50%" src="https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60 class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">AK Academy</h5>
        <p class="card-text">The place to learn coding and Technologies.</p>
        <p class="card-text"><small class="text-muted"><a href="#">Click here</a></small></p>
      </div>
    </div>
  </div>

{% endblock %}
